/* General Styles */
body {
    background-color: #E6E6FA;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(59,17,90);
background: linear-gradient(90deg, rgba(59,17,90,1) 21%, rgba(34,46,151,1) 43%, rgba(40,40,164,1) 70%, rgba(0,211,255,1) 95%);
    align-items: center;
    width: 100%;
}

.HeaderInfo {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    width:100%;
    justify-content: center;
}


.Title h1 {
    font-size: 30px;
    text-shadow: -7px 40px 2px rgba(255,162,39,0), -7px 40px 2px rgba(255,162,39,0);
    color: #f8f5f5;
    font-family: sans-serif;
    font-weight: bold;
}

.Title h3 {
   
    font-size: 25px;
    text-shadow: -7px 40px 2px rgba(255,162,39,0), -7px 40px 2px rgba(255,162,39,0);
    color: #FFA227;
    font-family: sans-serif;
    
}

/* Navigation Styles */
nav.links {
    display: flex; 
    justify-content: space-between; 
    padding: 0;
    background: rgb(108,28,167);
background: linear-gradient(90deg, rgba(108,28,167,0.9472382703081232) 25%, rgba(71,74,221,0.871608018207283) 61%, rgba(0,211,255,1) 100%, rgba(44,129,164,0.7819721638655462) 100%);
    width: 100%;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
   margin-top: 3px;
   
}

nav.links a {
    margin: 0 15px; 
    color: #f3f3f3;
    text-decoration: none; /* Removes underline from links */
}

nav.links a:hover {
    color: #0f5aaf;
}

/* Page Title Styles */
.pageTitle {
    display: flex;
    color: #1c1818;
    font-size: 20px;
    font-family: Arial;
    margin: 5px 0; 
    flex-direction: column;
    align-items: center;
}



/* Background Image and Text Styles */
.BackgroundImage {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-left: 18%;
    margin-right: 16%;
    position: relative;
    padding: 20px;
    -webkit-box-shadow: 8px 5px 15px 5px #000000; 
    box-shadow: 8px 5px 15px 5px #000000;
    text-align: center; 
    background-color: #504e86;

}



.BackgroundImage img {
    width: 100%;
    height: auto;
    display: block;
  
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #504e86;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
  }
  
  .BackgroundImage:hover .overlay {
    height: 100%;
  }
  

.imageMessage{
    width: 75%;
    font-family: sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 5px;
    height:auto;
    
    
   
    
}

/* Basic Info Section */
#overview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    background-color: #B39BC8;
    align-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
   margin: 5%;
   
}

.infoLogo{
    margin-left: 45%;
    align-content: center;
    justify-content: center;
    display: flex;
    transition: transform 0.05s ease-in-out;
}

#goals{
    
    width: 70%;
    margin-left: 18%;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-size: 22px;;
    margin-bottom: 3%;
    font-weight: 500;
}





.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-right: 6%;
    padding-left: 6%;
    
}



.layout img{
    width:500px;
    -webkit-box-shadow: 8px 5px 15px 5px #000000; 
    box-shadow: 8px 5px 15px 5px #000000;
   
}



.about{
    background: rgb(108,28,167);
background: linear-gradient(90deg, rgba(108,28,167,0.9472382703081232) 25%, rgba(71,74,221,0.871608018207283) 61%, rgba(0,211,255,1) 100%, rgba(44,129,164,0.7819721638655462) 100%);
color: #ffffff;
font-size: 20px;
font-family: sans-serif;
padding: 3%;
margin-bottom: 2%;
}

.layout #text{
    width: auto;
    font-family:sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #0c0b0b;
    font-weight: 700;
    margin: 20px ;
    padding: 10px;
    }

.layout h3{
   margin-left: 8px;
   font-size: 20px;
}

/* Footer Styles */
footer {
   
    padding: 10px 0;
    text-align: center;
    background: rgb(59,17,90);
background: linear-gradient(90deg, rgba(59,17,90,1) 21%, rgba(34,46,151,1) 43%, rgba(40,40,164,1) 70%, rgba(0,211,255,1) 95%);
    
}

.footer p {
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

.contactNum {
    background-image: url('images/contact.webp');
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 500px;
    color: #ffffff;
    font-size: 24px;
    -webkit-box-shadow: 8px 5px 15px 5px #000000; 
    box-shadow: 8px 5px 15px 5px #000000;
    margin-top: 2%;
    margin-bottom: 2%;

}

.contactNum p{
    color: #ffffff;
    font-size: 24px;
    margin-top: 5%;
}

.backgroundServices{
    background-image: url('images/background-menu.webp');
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: auto;
}


#list{
    margin-left: 2%;
    font-size: 18px;
}

#service{
    font-size: 20px;
    font-weight: 800;
    margin-left: 2%;
    margin-top: 2%;
}

.imgSlider{
   margin-left: 175px;
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.imgSlider img{
    width: 8%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}

.imgSlider img:hover{
    width: 45%;
}

#bankLogo{
    height: 87px;
    width: 75px;
}
#igLogo{
    width: 75px;
    height: 75px;
    padding: 2%;
   
    
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}

.newsLetter{
    display: flex;
    justify-content: center;
    margin: 2%;
}
  
  button {
    background-color: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #3367d6;
  }

  .form {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-size: 14px;
  }
  
  input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #4285f4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #3367d6;
  }
  
  


@media (max-width: 450px) {
    .HeaderInfo {
        flex-direction: column;
        align-items: center;
    }

    .imageMessage {
        width: 75%;
        font-size: 20%;
        margin-top: 5px;
        
    }
    #goals{
        font-size: 14px;
    }

    .layout {
        margin: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .imgSlider img {
        width: 10%;
    }
    .HeaderInfo{
        display: flex;
        flex-direction: row;
    }

    nav.links{
        display: flex;
        flex-direction: row;
    }

    .layout{
        width: 90%;
        padding: 2%;
    }

    .contactNum{
        height: 200px;
        
    }

    .contactNum p{
        color: #ffffff;
        font-size: 14px;
        margin-top: 5%;
    }
    
  
}






